<div class="gtco-loader"></div>

<div id="page">


	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">

			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/"><img src="images/fastbus.png"  /></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/destination">Destinations</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
		style="background-image: url(images/background.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">


					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text  " data-animate-effect="fadeInUp">
							<h1>{{homePage.mainTitle}}</h1>
						</div>
						<div class="col-md-4 col-md-push-1  " data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">

									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>{{homePage.searBarTitle}}</h3>
											<form id="myForm" action="/search" method="POST">
												
												<div class="row form-group">
													<div class="col-md-12">
														<label for="activities"> {{homePage.from}}</label>
														<select name="from" id="activities" class="form-control">
                                                            
															{{#each cities}}
															<option>Select</option>
															<option value="{{name}}">{{name}}</option>
															{{/each}}
															


														</select>
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<label for="destination"> {{homePage.to}}</label>
														<select name="to" id="destination" class="form-control">

															{{#each cities}}
															<option>Select</option>
															<option value="{{name}}">{{name}}</option>
															{{/each}}


														</select>
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<label for="date-start"> {{homePage.date}}</label>
														<input name="date" type="text" id="date-start" class="form-control">
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<label for="date-start"> {{homePage.persons}}</label>
														<input name="persons" type="number" id="date-start" class="form-control">
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<input id="send-btn" type="submit" class="btn btn-primary btn-block"
															value="Search">
													</div>
												</div>
											</form>
											<script>
												var form = document.getElementById("myForm");
												document.getElementById("send-btn").addEventListener("click", function () {
													form.submit();
												})
											</script>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{homePage.destinationSection}}</h2>
					<p>{{homePage.descriptionDestination}} </p>
				</div>
			</div>
			<div class="row">
			{{#each cities}}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="images/img_1.jpg" class="fh5co-card-item image-popup">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="https://picsum.photos/400/400" alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>{{name}}</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p><span class="btn btn-primary">Schedule a Trip</span></p>
						</div>
					</a>
				</div>
				{{/each}}
				

			</div>
		</div>
	</div>







	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row  ">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>{{homePage.subdcribeSection}}</h2>
					<p>{{homePage.descriptionSubscribe}}</p>
				</div>
			</div>
			<div class="row  ">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3> {{contactPage.title1Footer}}</h3>
						<p>{{systemSettings.description}}</p>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3> {{contactPage.title2Footer}}</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Europe</a></li>
							<li><a href="#">Australia</a></li>
							<li><a href="#">Asia</a></li>
							<li><a href="#">Canada</a></li>
							<li><a href="#">Dubai</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3> {{contactPage.title3Footer}}</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Luxe Hotel</a></li>
							<li><a href="#">Italy 5 Star hotel</a></li>
							<li><a href="#">Dubai Hotel</a></li>
							<li><a href="#">Deluxe Hotel</a></li>
							<li><a href="#">BoraBora Hotel</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>{{contactPage.title4Footer}}</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> {{systemSettings.telephone}}</a></li>
							<li><a href="#"><i class="icon-mail2"></i> {{systemSettings.email}}</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="https://freehtml5.co/"
								target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/"
								target="_blank">Unsplash</a></small>
					</p>
					<p class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	<!-- </div> -->

</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>