<div class="gtco-loader"></div>

<div id="page">


	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">

			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/"><img src="images/fastbus.png" /></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/destination">Destinations</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
		style="background-image: url(images/background.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">


					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text  " data-animate-effect="fadeInUp">
							<h1>Planing Trip To Anywhere in The World?</h1>
						</div>
						<div class="col-md-4 col-md-push-1  " data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">

									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>Book Your Trip</h3>
										<form id="myForm" action="/search" method="POST">
										
											<div class="row form-group">
												<div class="col-md-12">
													<label for="activities"> From</label>
													<select name="from" id="activities" class="form-control">
										
														{{#each cities}}
										                <option>Select</option>
														<option value="{{name}}">{{name}}</option>
														{{/each}}
										
										
										
													</select>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-12">
													<label for="destination">To</label>
													<select name="to" id="destination" class="form-control">
										
														{{#each cities}}
														<option>Select</option>
														<option value="{{name}}">{{name}}</option>
														{{/each}}
										
										
													</select>
												</div>
											</div>
										
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start">Date</label>
													<input name="date" type="text" id="date-start" class="form-control">
												</div>
											</div>
										
											<div class="row form-group">
												<div class="col-md-12">
													<label for="date-start"> Persons</label>
													<input name="persons" type="number" id="date-start" class="form-control">
												</div>
											</div>
										
											<div class="row form-group">
												<div class="col-md-12">
													<input id="send-btn" type="submit" class="btn btn-primary btn-block" value="Search">
												</div>
											</div>
										</form>
										<script>
											var form = document.getElementById("myForm");
											document.getElementById("send-btn").addEventListener("click", function () {
												form.submit();
											})
										</script>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section" id="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Most Popular Destination</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
						Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				{{#each routess}}
				{{#if id}}
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div  class="fh5co-card-item">
			
					<div class="fh5co-text">
						<div class="row">
							<div style="color:gray;" class="col-lg-12 col-md-12 col-sm-12"><div class="row">
							<div class="col-md-6"><h2>[{{name}}] {{from}} - {{to}}</h2></div>
							<div class="col-md-6"><h2>{{start}} - {{end}}</h2></div>
							</div></div>
							<div class="col-lg-12 col-md-12 col-sm-12">
									<hr width="65">
									<div class="row">
										<div class="col-md-3"><i class="fa fa-users" aria-hidden="true"></i> {{SpacialSeat}} Adults</div>
										<div class="col-md-3"><i class="fa fa-child" aria-hidden="true"></i> {{childSeat}} Children</div>
										<div class="col-md-3"><i class="fa fa-clock" aria-hidden="true"></i> {{approximateTime}} minutes</div>
										<div class="col-md-3"><i class="fa fa-bus" aria-hidden="true"></i> {{distance}} Km</div>
									</div>
									<hr width="65"> 
							</div>
						</div>
			
						<a href="/booking/{{name}}/1/1" class="btn btn-primary">Book now</a>
					</div>
				</div>
			</div>
			{{/if}}
			{{/each}}
				
			

			</div>
		</div>
	</div>



	<script type="text/javascript">
		var divFirst = document.getElementById("gtco-section");
		console.log(divFirst)
		divFirst.style.visibility = 'visible';
		divFirst.style.display = 'block';
		divFirst.tabIndex = "-1";
		divFirst.focus();
	</script>






	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint
							ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum.
							Totam cupiditate nostrum ut neque ab?</p>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3>Destination</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Europe</a></li>
							<li><a href="#">Australia</a></li>
							<li><a href="#">Asia</a></li>
							<li><a href="#">Canada</a></li>
							<li><a href="#">Dubai</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2 col-md-push-1">
					<div class="gtco-widget">
						<h3>Hotels</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Luxe Hotel</a></li>
							<li><a href="#">Italy 5 Star hotel</a></li>
							<li><a href="#">Dubai Hotel</a></li>
							<li><a href="#">Deluxe Hotel</a></li>
							<li><a href="#">BoraBora Hotel</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
							<li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="https://freehtml5.co/"
								target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/"
								target="_blank">Unsplash</a></small>
					</p>
					<p class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	<!-- </div> -->

</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>